{{define "title"}}Latest crackmes{{end}}
{{define "head"}}{{end}}
{{define "content"}}

 <div class="container grid-lg wrapper">
        
        <h2>Latest Crackmes <a href="/rss/crackme"><img src="/static/img/rss.svg" width="16" height="16" /></a></h2>
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th style="width: 150px;">Name</th>
                    <th style="width: 150px;">Author</th>
                    <th style="width: 80px;">Language</th>
                    <th style="width: 40px;">Difficulty</th>
                    <th style="width: 40px;">Quality</th>
                    <th style="width: 70px;">Platform</th>
                    <th style="width: 70px;">Date</th>
                    <th style="width: 40px;">Solution</th>
                    <th style="width: 40px;">Comments</th>
                </tr>
            </thead>
            <tbody id="content-list">
		{{range $n := .crackmes}}		
                <tr class="text-center">
                    <td> <a href="/crackme/{{.HexId}}">{{.Name}}</a></td>
                    <td> <a href="/user/{{.Author}}">{{.Author}}</a> </td>
                    <td> {{.Lang}} </td>
		    <td> {{.Difficulty}} </td>
		    <td> {{.Quality}} </td>
		    <td> {{.Platform}} </td>
		    <td> {{.CreatedAt | PRETTYTIME}} </td>
                    <td> {{.NbSolutions}} </td>
                    <td> {{.NbComments}} </td>
		</tr>
		{{end}}
	    </tbody>
	</table>
    <div class="text-center">
    <a href="/lasts/{{.prec}}"><</a></td>

    <a href="/lasts/{{.next}}">></a></td>
    </div>

</div>
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
