{{define "title"}}Latest crackmes{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div style="max-width: 80%" class="container d-flex-row wrapper">

    <h2>Latest Crackmes <a href="/rss/crackme"><img src="/static/img/rss.svg" width="16" height="16" /></a></h2>
    <table class="table table-striped">
        <thead>
            <tr style="text-align: center;">
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">Author</th>
                <th style="width: 9%;">Language</th>
                <th style="width: 4%;">Difficulty</th>
                <th style="width: 4%;">Quality</th>
                <th style="width: 9%;">Platform</th>
                <th style="width: 9%;">Date</th>
                <th style="width: 4%;">Solution</th>
                <th style="width: 4%;">Comments</th>
            </tr>
        </thead>
        <tbody id="content-list">
            {{range $n := .crackmes}}		
            <tr class="text-center">
                <td> <a href="/crackme/{{.HexId}}">{{.Name}}</a></td>
                <td> <a href="/user/{{.Author}}">{{.Author}}</a> </td>
                <td> {{.Lang}} </td>
                <td> {{printf "%.1f" .Difficulty}} </td>
                <td> {{printf "%.1f" .Quality}} </td>
                <td> {{.Platform}} </td>
                <td> {{.CreatedAt | PRETTYTIME}} </td>
                <td> {{.NbSolutions}} </td>
                <td> {{.NbComments}} </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <div class="text-center">
        <a href="/lasts/{{.prec}}">&lt;</a>

    <a href="/lasts/{{.next}}">&gt;</a>
    </div>

</div>

{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
