{{define "footer"}}
 <footer>
      <p class="text-center">made with love of RE by <a href="https://twitter.com/0xstan" target="_blank">s4r</a> with the great <a href="https://github.com/josephspurrier/gowebapp">gowebapp</a><br/>design made by the sure guy <a href="https://twitter.com/mpgn_x64" target="_blank">Bonclay</a>, inspired by <a href="https://hackthebox.eu" target="_blank">hackthebox.eu</a></p>
    </footer>
{{end}}
